* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
}

h1 {
    text-align: center;
    font-size: 4em;
    margin-top: 80px;
}

h2 {
    text-align: center;
    font-size: 2.2em;
    margin-top: 70px;
}


/* .btns {
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
} */

.no {
    position: absolute;
    left: 70%;
    top: 60%;
    background-color: rgb(224, 24, 24);
    color: #e6e6e6;
}

.yes {
    position: absolute;
    left: 20%;
    top: 60%;
    background-color: rgb(20, 134, 16);
    color: #e6e6e6;
    cursor: pointer;
}

.yes:hover {
    background-color: rgb(18, 121, 15);
}

.btns button {
    font-family: 'Roboto Slab', serif;
    padding: 15px 40px;
    font-size: 1.2em;
    border: none;
    outline: none;
    border-radius: 7px;
}